<h1>Listing change_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @change_types.each do |change_type| %>
  <tr>
    <td><%= change_type.name %></td>
    <td><%= link_to 'Show', change_type %></td>
    <td><%= link_to 'Edit', edit_change_type_path(change_type) %></td>
    <td><%= link_to 'Destroy', change_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Change type', new_change_type_path %>
