<h1>Listing sows</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sow date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sows.each do |sow| %>
  <tr>
    <td><%= sow.name %></td>
    <td><%= sow.sow_date %></td>
    <td><%= link_to 'Show', sow %></td>
    <td><%= link_to 'Edit', edit_sow_path(sow) %></td>
    <td><%= link_to 'Destroy', sow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sow', new_sow_path %>
